/* shared styles */
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    border-color: #F5F8FF;
}
.padding{
    padding-left: 5px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary-color{
    color: #E95A08;
}
.primary-color-2{
    color: #000000;
}
.primary-color-3{
    color: #8987A1
}
.primary-color-4{
    color: #252432;
}

/* header related styles */
.heading-container{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    margin-top: 30px;
    
}
.heading-img{
   padding-left: 100px;
}
.nav-icon{
    list-style: none;
    display: flex;
    margin-right: 100px;
}
.nav{
    margin-left: 48px;
    font-size: 16px;
}
.extra{
    font-weight: bold;
}
.hidden{
    display: flex;
}
.cart-item{
    display: flex;
}
/* banner related styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    margin-top: 150px;
    margin-left: 100px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;

}
.banner-des{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-top: 13px;
}
.banner-img{
    margin-top: 150px;
    margin-right: 100px;
}
/* product related styles */
.product-text{
    text-align: center;
    margin-top: 120px;
}
.product-title{
    font-size: 50px;
    font-weight: bold;
}
.product-des{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin:  16px 275px 0;
    text-align: center;
}
.product-container{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    text-align: center;
    width: 100%; */
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   gap: 30px;
   padding: 20px;
   margin: 0 auto;
   text-align: center;
   
}
.all-product{
    align-items: center;
}
.product{
    margin-top: 30px;
   
}
.product-img{
    width: 100%;
}
.product-name{
    font-size: 22px;
    color: #111111;
    margin-top: 30px;
    font-weight: 500px;
}
.product-price{
    color: #111111;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    padding-bottom: 30px;
}
/* .btn-primary{
    background-color: #E95A08;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-align: center;
    display: inline-block;
    width: 100%;
} */
 .btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 19px 80px;
    width: 100%;
    border: none;
    font-weight: 600px;
    
 }

/* responsive for small devices */
@media screen and (max-width:576px) {
    .hidden{
        display: none;
    }
     .heading-container{
        width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
    .cart-item{
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left: 60px;
        font-size: 20px;
        margin-top: 10px;
        padding-right: 10px;
        
    }
    .heading-img{
        
       padding-left: 30px;
}


 .banner-container{
    flex-direction: column;
 }
 .banner{
    margin: 30px 20px 0 20px;
 }
 .banner-title{
    font-size: 30px;
    padding-right: 10px;
 }
 .banner-img{
    order: -1;
    margin: 20px auto;
    width: 90%;
    padding-left: 100px;
 }
 .banner-des{
    font-size: 14px;
 }
 .product-text{
    text-align: center;
    width: 100%;
    padding: 0;
    
   
}

.product-title{
    text-align: center;
    
    
}
.product-des{
   font-size: 14px;
   width: 90%;
   margin: 0 auto;
   text-align: center;
   padding-top: 16px;
   
}
.product-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    
   
}
.btn-primary{
    /* width: 100%;
    padding: 20px 0; */
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600px;
    text-align: center;

}
}